/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.3.2017, 10:05:42
    Author     : Antton
*/
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h2, p, label, ul, form {
    text-align: left;
}

ul{
    list-style: none;
}
p{
    margin-left: 10px;
}

